/*
 * App
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: $fontFamily;
  font-size: $space; // Spacing of components, used for rem units
  line-height: $lineHeight;
  color: $color;
  background-color: $colorBG;
}

.App {
  margin: 0; // Remove default margin
  font-size: $size; // Sizing of components
}


// Themes -------------------------------------

[theme="dark"] {
  background: #333;
}
