/*
 * App
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-size: $space; // Spacing of components, used for rem units
  font-family: $font-family;
  line-height: $line-height;
  @include setColor($bg-root);
}

.App {
  margin: 0; // Remove default margin
  font-size: $size; // Sizing of components
}


// Themes -------------------------------------

[theme="light"] {
  @include setColor($bg-light);
}

[theme="dark"] {
  @include setColor($bg-dark);
}
