/*
 * App
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-size: $space; // Spacing of components, used for rem units
  font-family: $font-family;
  line-height: $line-height;
  color: $tx-light;
  background-color: $bg-color;
}

.App {
  margin: 0; // Remove default margin
  font-size: $size; // Sizing of components
}


// Themes -------------------------------------

[theme="light"] {
  color: $tx-light;
  background-color: $bg-light;
}

[theme="dark"] {
  color: $tx-dark;
  background-color: $bg-dark;
}
