
// Variables to configure sizes, colors etc.

// Size + Spacing -------------------------------------

$size:  16px;
$space: 16px;


// Colors -------------------------------------

$color:         cornflowerblue;
$bg-color:      hsl(220, 80%, 90%);
$color-success: hsl(150, 60%, 56%);
$color-error:   hsl(0, 80%, 60%);


// Themes -------------------------------------

$tx-light:   hsl(0,0%,30%);
$bg-light:   hsl(0,0%,100%);

$tx-dark:    hsl(0,0%, 50%);
$bg-dark:    hsl(0,0%, 30%);


// Typography -------------------------------------

$font-family: Avenir, sans-serif;
$line-height: 1.5;


// Shape -------------------------------------

$border-radius: 4px;
