/*
 * Button
 */

 // Mixins ------------------------------

 @mixin ButtonVariant($bg-color) {
   border: none;
   @include setColor($bg-color);
 }

.Button {
  display: inline-block;
  margin: .5rem;
  padding: .5em 1em;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  outline: 0;
  border: 1px solid;
  color: inherit;
  cursor: pointer;
  border-radius: $border-radius;
  background-color: transparent;

  &.is-primary { @include ButtonVariant($color-accent); }
  &.is-success { @include ButtonVariant($color-success); }
  &.is-error   { @include ButtonVariant($color-error); }

  &.is-pill {
    border-radius: 2em;
  }

}
